* {
    -webkit-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}


html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    font-weight: bold;
}


.Background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: none;
    background-position: center;
    background-size: auto 250%;
    background-repeat: no-repeat;
    overflow: hidden;
    transform: translateZ(0);
    z-index: -1;
}


.MainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.8);
    z-index: 0;
}


.MainContainer > .PauseBtn {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 4%;
    height: 8%;
    border-bottom-right-radius: 25%;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url(../resource/pause.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.25s;
    cursor: pointer;
    z-index: 5;
}


.MainContainer > .PauseBtn:hover {
    transform: scale(1.05);
}


.MainContainer > .PauseBtn:active {
    transform: scale(0.9);
}


.MainContainer .ExitBtn {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 10%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15%;
    font-size: xx-large;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: 0.25s;
    visibility: hidden;
    z-index: 5;
}


.MainContainer .ExitBtn:hover {
    transform: translate(-50%, -50%) scale(1.05);
}


.MainContainer .ExitBtn:active {
    transform: translate(-50%, -50%) scale(0.9);
}


.Prompt {
    position: absolute;
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(51, 51, 51, 0.8);
    font-size: 5rem;
    z-index: 6;
}


.Paused {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(51, 51, 51, 0.8);
    font-size: 10rem;
    visibility: hidden;
    z-index: 6;
}


.Paused p {
    color: gray;
    font-size: 2.5rem;
}

.Paused button {
    width: 15%;
    height: 8%;
    cursor: pointer;
    font-size: x-large;
    border-radius: 10%;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
}
