body {
    border: 0px;
    margin: 0px;
    background-color: rgb(54, 54, 54);
}


.MainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50rem;
    z-index: 0;
}


.Prompt {
    position: absolute;
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(51, 51, 51, 0.8);
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 6;
}


.EffectContainer {
    position: relative;
    width: 60%;
    height: 100%;
    z-index: 1;
}


.GameContainer {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}



.Play {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 2;
}


.Judgement {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 10%;
    color: rgba(255, 255, 255, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    transition: transform 0.125s ease-in-out;
    transform: scale(1);
    z-index: 3;
}


.zoomed {
    transform: scale(1.1);
}


.Score {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 5%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    z-index: 3;
}


.HitCount {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 5%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    z-index: 3;
}


.Perfect {
    position: absolute;
    top: 90%;
    left: 0%;
    width: 25%;
    height: 5%;
    color: rgba(245, 241, 0, 0.6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 3;
}


.PerfectCount {
    position: absolute;
    top: 95%;
    left: 0%;
    width: 25%;
    height: 5%;
    color: rgba(245, 241, 0, 0.6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 3;
}


.Good {
    position: absolute;
    top: 90%;
    left: 25%;
    width: 25%;
    height: 5%;
    color: rgba(0, 255, 30, 0.6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 3;
}


.GoodCount {
    position: absolute;
    top: 95%;
    left: 25%;
    width: 25%;
    height: 5%;
    color: rgba(0, 255, 30, 0.6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 3;
}


.Bad {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 25%;
    height: 5%;
    color: rgba(255, 47, 0, 0.6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 3;
}


.BadCount {
    position: absolute;
    top: 95%;
    left: 50%;
    width: 25%;
    height: 5%;
    color: rgba(255, 47, 0, 0.6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 3;
}


.Miss {
    position: absolute;
    top: 90%;
    left: 75%;
    width: 25%;
    height: 5%;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 3;
}


.MissCount {
    position: absolute;
    top: 95%;
    left: 75%;
    width: 25%;
    height: 5%;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 3;
}


.TrackContainer {
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgba(101, 101, 101, 0.4);
    border: 3px solid rgb(146, 146, 146);
    border-radius: 5%;
    z-index: 3;
}


.Track {
    position: relative;
    width: 100%;
    height: 90%;
    background: none;
    z-index: 4;
}


.HitBox {
    width: 100%;
    height: 10%;
    background: radial-gradient(
        rgba(170, 170, 170, 0.8),
        rgba(126, 126, 126, 0.8)
    );
    border: 1px solid rgba(126, 126, 126, 0.8);
    border-radius: 8%;
    z-index: 4;
}


.Tap {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 7%;
    background: radial-gradient(
        rgba(92, 212, 255, 0.9),
        rgba(42, 170, 216, 0.9)
    );
    border: 1px solid rgba(61, 61, 61, 0.9);
    border-radius: 12%;
    z-index: 5;
}